%div[paste]
  .language
    = paste.language
  .info
    = paste.author
    pasted
    = link_to paste.description, paste
    #{time_ago_in_words(paste.created_at)} ago.
  .actions
    .link.fork= link_to 'Fork', fork_paste_path(paste)
    .link.raw=  link_to 'Raw', fork_paste_path(paste)
  %br.clear

