!!!
%html
  %head
    %title
      = yield(:title).present? ? "#{yield(:title)} — " : ''
      Nopaste
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      #notice= notice
      #alert= alert
    %nav
      .user_control
        - if user_signed_in?
          .link.logout= link_to "Logout", destroy_user_session_path
          .link.account= link_to "Edit Account", edit_user_registration_path
        - else 
          .link.login= link_to "Login", new_user_session_path
          .link.signup= link_to "Sign Up", new_user_registration_path
      - if @paste.present?
        - if @paste.uuid.present?
          .link.fork= link_to 'Fork', fork_paste_path(@paste)
          .link.raw=  link_to 'Raw',  raw_paste_path(@paste)
          .link.new=  link_to 'New',  new_paste_path
      - else
        .link.new=  link_to 'New', new_paste_path
      .link.home= link_to 'Home', root_path
    %article{:id => [params[:controller], '_', params[:action]].join }
      = yield
    %footer
