!!!
%html
  %head
    %title Nopaste
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      #notice= notice
    %nav
      %ul
        %li= link_to 'Home', root_path
        %li= link_to 'New Paste', new_paste_path
    %article
      = yield
    %footer
